*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    z-index: 10;
}

.sidebar{
    width: 150px;
    height: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
}

.nav{
    border-bottom: 1px solid white;
    font-weight: 700px;
    padding: 10px;
}

.nav:hover{
    background-color: #AAAAAA;
    cursor: pointer;
}

.content{
    height: 100%;
    width: 100%;
    padding: 0 129px;
    margin-left: 150px;
}

.logo{
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.logo > img{
    width: 310px;
    height: 122px;
}

.desc{
    text-align: center;
    background-color: #EFEFEF;
    margin-top: 30px;
    padding: 38px 120px;
}

h1{
    font-size: 18px;
    font-weight: 700px;
    margin-bottom: 18px;
}

.desc > p{
    line-height: 18.75px;
}

.wraper{
    display: flex;
    margin-top: 30px;
}

.wraper > .item{
    background-color: white;
    width: 33%;
}
.wraper > .item_center{
    margin: 0 20px;
}

.wraper h2{
    font-size: 24px;
    font-weight: 700px;
    line-height: 28.13px;
    margin-bottom: 18px;
}

.wraper img{
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 10px;
}

.wraper p{
    line-height: 18.75px;
}

.copyright{
    border-top:  1px solid #DEDEDE;
    margin-left: 150px;
    padding: 20px 0 20px 129px;
    margin-top: 120px;
}

.sidebar_res{
    display: none;
}

.sidebar_container_res{
    display: none;
}



@media only screen and (max-width: 1280px){
    .content{
        padding: 0 50px;
    }

    .desc{
        padding: 30px;
    }

    .container{
        height: auto;
    }
    
}


@media only screen and (max-width: 820px){
    .copyright{
        margin-left: 100px;
        padding-left: 30px;
    }
    .sidebar{
        width: 100px;
    }

    .content {
        padding: 0 30px;
        margin-left: 100px;
    }

    .wraper{
        flex-direction: column;
    }
    .wraper > .item{
        width: 100%;
        margin-bottom: 20px;
    }
    .wraper > .item_center{
        margin: 0;
        margin-bottom: 20px;

    }
    
}
.display{
    display: block;
}

@media only screen and (max-width: 620px){
    .sidebar_container_res{
        color: white;
        position: absolute;
        background-color: black;
        height: 100%;
        width: 100%;
        z-index: 101;
    }

    .sidebar_container_res .wrapper_res{
        padding-top: 150px;
    }

    .sidebar_container_res .nav{
        text-align: center;
        border-top: 1px solid white;
        padding: 25px 0;
    }
    .sidebar_container_res .wrapper_res{
        position: relative;
    }

    .sidebar_container_res .btnclose{
        background-color: white;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .btnclose{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 24px 5px;
    }

    .btnclose > .line{
        height: 1px;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }

    .btnclose > .line_1{
        transform: rotate(45deg);
    }

    .btnclose > .line_2{
        transform: rotate(-45deg);
    }


    .sidebar_res{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .btn_sidebar{
        height: 25px;
        padding: 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sidebar_res .line{
        height: 3px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .copyright{
        margin-left: 0;
    }
    .sidebar{
        display: none;
    }
    .content{
        margin-left: 0;
    }
    .content > .logo > img{
        width: 250px;
        height: auto;
    }
}


@media only screen and (max-width: 480px){
    .copyright{
        padding-left: 15px;
    }
    .content{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 380px){
    .desc{
        padding: 10px;
    }
}